################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ContactsApplication/FileContentIndex/65a94b79-d188-4a4e-8ee9-e2677d69a4f1.vsidx
.vs/
